@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    background: url("/Image/SnakeBackground.jpg"); 
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Add padding to avoid content touching screen edges */
}

#scoreBox, #hiscoreBox {
    position: absolute;
    font-size: 4vw; /* Adjust font-size using vw for responsiveness */
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#scoreBox {
    top: 1%;
    right: 8%;
}

#hiscoreBox {
    top: 9%;
    right: 6%;
}

#board {
    background: linear-gradient(rgb(74 221 74), rgb(181 181 181));
    width: 90vmin;
    height: 90vmin;
    border: 2px solid lightgreen;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head {
    background: linear-gradient(rgb(240, 124, 124), rgb(228, 228, 129));
    background-image: url('/Image/face.png'); 
    background-size: cover; 
    transform: scale(1.02);
    border-radius: 9px;
}

.snake {
    background-color: rgb(61, 165, 61);
    border: .5vmin solid rgb(8, 8, 8); /* Adjusted border size for responsiveness */
    border-radius: 12px;
}

.food {
    position: relative;
}

.food::before {
    content: "🍎"; 
    font-size: 2.5vw; /* Adjust font-size using vw for responsiveness */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}



@media (max-width: 480px) {
    #scoreBox{
        font-size: 6vw;
        top: 5%;
        right: 10%;
        padding-top: 2%;
    }
    #hiscoreBox {
        font-size: 6vw;
        top: 3%;
        right: 10%;
        
    }

    #board {
        width: 100vmin; /* Adjust board size for very small screens */
        height: 100vmin;
    }
}
